/* SCSS HEX */
/*$bittersweet: #ff595eff;
$sunglow: #ffca3aff;
$yellow-green: #8ac926ff;
$steel-blue: #1982c4ff;
$ultra-violet: #6a4c93ff;
*/
/* SCSS HSL */
/*$bittersweet: hsla(358, 100%, 67%, 1);
$sunglow: hsla(44, 100%, 61%, 1);
$yellow-green: hsla(83, 68%, 47%, 1);
$steel-blue: hsla(203, 77%, 43%, 1);
$ultra-violet: hsla(265, 32%, 44%, 1);
*/
/* SCSS RGB */
$bittersweet: rgba(255, 89, 94, 1);
$sunglow: rgba(255, 202, 58, 1);
$yellow-green: rgba(138, 201, 38, 1);
$steel-blue: rgba(25, 130, 196, 1);
$ultra-violet: rgba(106, 76, 147, 1);

/* SCSS Gradient */
/*$gradient-top: linear-gradient(0deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-right: linear-gradient(90deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-bottom: linear-gradient(180deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-left: linear-gradient(270deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-top-right: linear-gradient(45deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-bottom-right: linear-gradient(135deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-top-left: linear-gradient(225deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-bottom-left: linear-gradient(315deg, #ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
$gradient-radial: radial-gradient(#ff595eff, #ffca3aff, #8ac926ff, #1982c4ff, #6a4c93ff);
*/
